.paginator {
    margin-bottom: 3rem;
    &-button {
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid #dee2e6;
        background-color: white;
        &:disabled {
            background-color: #dee2e6;
        }
        &-active {
            background-color: #0d6efd !important;
            color: white;
        }
        &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        & i{
            position: relative;
            bottom: 50%;
            transform: translate(0, 85%);
        }
    }
}