<div class="container mt-3 mb-3" *ngIf="!loading">
    <div class="row">
        <div class="col-12">
            <app-filter
                [displayType]="listType"
                (displayTypeChanged)="changeDisplay($event)"
                (eventsFiltered)="filterEvents($event)"
            ></app-filter>
            <app-list
                [listType]="listType"
                [events]="displayedEvents"
                (eventSelected)="handleEventSelected($event)"
            ></app-list>
            <app-paginator 
                [pageCount]="pageCount" 
                [pageIndex]="pageIndex"
                (nextPage)="nextPageSelected()"
                (previousPage)="previousPageSelected()"
                (selectPage)="pageSelected($event)"
            ></app-paginator>
        </div>
    </div>
</div>