<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-12">
            <app-list
                [listType]="listType"
                [events]="displayedEvents"
            ></app-list>
            <app-paginator 
                [pageCount]="pageCount" 
                [pageIndex]="pageIndex"
                (nextPage)="nextPageSelected()"
                (previousPage)="previousPageSelected()"
                (selectPage)="pageSelected($event)"
            ></app-paginator>
        </div>
    </div>
</div>